# 文件读取-1
* 请用 import 导入 pandas 库, 你这样就可以直接使用 pandas 提供的各种类和函数了

* read_csv 是读取本地的一个 csv 文件，sep='\t' 表示分隔符是 tab

  ".." 是表示当前目录的上一级目录
  
  "../data/gapminder.tsv" 表示本目录上的一级的data目录下的 gapminder.tsv 文件
  
  sep = '\t'是我们目前暂时不需要了解的
  
  
* df.head() 显示 df 的前5行数据

In [1]:
import pandas

In [2]:
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

# 读取文件-2
* 用 import 导入 pandas 库, 这里用 as 指名了别名 pd
* 其它部分请参考前面

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [10]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

# 检查数据的信息
* df.shape 是一个属性，不是一个函数，它返回的是一个tuple(元组）
* df.values 是一个属性，返回是一个二维数组 [[]], 因为它有两组方括号

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(1704, 6)

In [13]:
df.shape()

TypeError: 'tuple' object is not callable

In [14]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [16]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [17]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# 数据操作-1
* 我们可以直接在 df 后面加['列名'], 取得某一列的数据
* 大家想一下 type(country_df)，type(subset) 的类型为么会不一样

In [19]:
country_df = df['country']

In [20]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [21]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [22]:
type(country_df)

pandas.core.series.Series

In [23]:
subset = df[['country', 'continent', 'year']]

In [26]:
type(subset)

pandas.core.frame.DataFrame

In [27]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

# 数据操作-2
* pandas.\_\_version\_\_ 查看你现在 pandas 的版本号
  
  因为程序库的不同版本，提供的功能不一样
  
  
* df 里数据的选择，不能直接通过 [] 来选择

* df 提供了 loc/iloc 两个属性来选择数据

* loc 是根据索引(index)来选择数据，所以不能用 -1 来选择

*

In [28]:
pandas.__version__

'1.0.1'

In [29]:
df[[0, 1]]

KeyError: "None of [Int64Index([0, 1], dtype='int64')] are in the [columns]"

In [30]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [31]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [32]:
df.loc[[0, 99]]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
99   Bangladesh      Asia  1967   43.453  62821884  721.186086

In [33]:
#loc 是根据索引(index)来选择数据，所以不能用 -1 来选择
df.loc[-1]

KeyError: -1

In [34]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [35]:
# 
df.iloc[[0, 99]]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
99   Bangladesh      Asia  1967   43.453  62821884  721.186086

In [36]:
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [ ]:
df.ix[0]

In [ ]:
subset = df.loc[:, ['year', 'pop']]

In [ ]:
subset.head()

In [ ]:
subset = df.iloc[:, [2, 4]]
print(subset.head())

In [ ]:
subset = df.iloc[-5::2, :]
subset.head()

# grouped calculations

In [ ]:
df.head()

In [ ]:
df.groupby('year')['lifeExp'].mean()

In [ ]:
df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [ ]:
df\
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]\
    .mean()

In [ ]:
(df
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]
    .mean()
    .reset_index()
)

In [ ]:
import matplotlib.pyplot as plt
# probably don't need the magic anymore
%matplotlib inline

(df
     .groupby(['year'])
     [['lifeExp']]
     .mean()
     .plot()
)
plt.show()